@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro-Medium.eot);
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"),
    url(../fonts/Gotham/GothamPro-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gotham/GothamPro-Medium.woff) format("woff"),
    url(../fonts/Gotham/GothamPro-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro-Bold.eot);
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"),
    url(../fonts/Gotham/GothamPro-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gotham/GothamPro-Bold.woff) format("woff"),
    url(../fonts/Gotham/GothamPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro-Light.eot);
  src: local("Gotham Pro Light"), local("GothamPro-Light"),
    url(../fonts/Gotham/GothamPro-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gotham/GothamPro-Light.woff) format("woff"),
    url(../fonts/Gotham/GothamPro-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  background: url("./images/wrapper.png");
  font-family: "Gotham Pro", "sans-serif";
  background-size: cover;
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#toast-container {
  position: fixed;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
  z-index: 200;
  .toast {
    padding: 15px 40px;
    color: white;
    width: 100%;
    font-size: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
  }
  .toast.error {
    background-color: rgb(133, 0, 0);
  }
  .toast.succes {
    background-color: rgb(19, 124, 19);
  }
}
